.staff-display-hidden {
    display: none;
}

.tardy-cell-good {
    background-color: green;
}

.tardy-cell-bad {
    background-color: red;
}

.single-staff-absence-stats {
    font-style: italic
}

@media print {
    .tardy-cell-bad{
        color-adjust: exact;
    }

    .tardy-cell-good {
        background-color: none;
    }

    .single-staff-absence-report {
        position: relative;
        page-break-after: always;
      }
}