.card {
    margin: 15px
}

.card-deck {
    align-items: center;
    justify-content: center;
}

.home-btn-toolbar-container {
    margin-bottom: 25px;
}

.home-btn-toolbar {
    margin-bottom: 25px;
}

.btn-toolbar > * {
    margin-left: .4rem;
    margin-right: .4rem;
}

.file-drop {
    border-style: dashed;
    padding: 50px;
}